@font-face{font-family:DIN;src:url(/kotlin-libgdx-intro/assets/ff-din-web-regular.9f801385.woff2) format("woff2")}@font-face{font-family:Newzald;src:url(/kotlin-libgdx-intro/assets/Newzald-Book.291a380e.otf) format("opentype")}
